<!DOCTYPE html>
<html>
<head>
<title>x0HOST by ExploitZ3r0</title>
<style>
body{background:#020617;color:#e5e7eb;font-family:system-ui;display:flex;justify-content:center;height:100vh}
.box{margin-top:80px;background:#0f172a;padding:30px;border-radius:14px;width:360px}
input,button{width:100%;padding:12px;margin-top:10px;border-radius:10px;border:none}
button{background:#10b981;font-weight:600}
</style>
</head>
<body>
<div class="box">
<h1>x0HOST by ExploitZ3r0</h1>
<form method="post" enctype="multipart/form-data">
<input type="file" name="file" required>
<input name="site_id" placeholder="Custom ID (optional)">
<input type="date" name="expires">
<button>Upload</button>
</form>
</div>
</body>
</html>
